docs/n8n/icebreaker-message.json
{
  "name": "Kaizen - Icebreaker LinkedIn - Schedule envoie message",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1872,
        560
      ],
      "id": "7a49499b-a539-4b54-a286-62fe1f848099",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "46727d37-5b93-4b95-ba63-dea6f23126f8",
              "leftValue": "={{ $json.pending_reply }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1200,
        560
      ],
      "id": "24c9514f-d7da-40c8-918c-0ab193bb8e79",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api22.unipile.com:15267/api/v1/chats/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "=___REDACTED_UNIPILE_KEY___"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "={{ $json.account_id }}"
            },
            {
              "name": "attendees_ids",
              "value": "={{ $('Loop Over Items').item.json.linkedin_id }}"
            },
            {
              "name": "text",
              "value": "={{ $('Loop Over Items').item.json.pending_reply }}"
            }
          ]
        },
        "options": {}
      },
      "id": "58d21056-dfb4-4cdd-b7e5-8bb0c6aecdf8",
      "name": "Unipile - Envoyer icebreaker1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        416
      ]
    },
    {
      "parameters": {
        "tableId": "lk_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "prospect_id",
              "fieldValue": "={{ $('Loop Over Items').item.json.id }}"
            },
            {
              "fieldId": "account_id",
              "fieldValue": "={{ $('Loop Over Items').item.json.account_id }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "outbound"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Loop Over Items').item.json.pending_reply }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $json.message_id }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "icebreaker"
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "9638907a-5188-41e4-bc79-76e9d6650ce4",
      "name": "Supabase - Enregistrer message1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        416
      ],
      "credentials": {
        "supabaseApi": {
          "id": "mWip0WqnB57aANW3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -976,
        560
      ],
      "id": "4e10a62f-d50a-401d-a241-17c7e8c8beab",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        496
      ],
      "id": "0d8abe6f-a578-4f70-a479-126be805306e",
      "name": "Wait",
      "webhookId": "b337c419-69c2-4f2b-88ea-e1b3d8bd4db7"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "lk_prospects",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $('Unipile - Envoyer icebreaker1').item.json.chat_id }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "in_conversation"
            },
            {
              "fieldId": "last_message_sent_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "processing_status",
              "fieldValue": "idle"
            },
            {
              "fieldId": "pending_reply"
            },
            {
              "fieldId": "scheduled_send_at"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        416
      ],
      "id": "6bd5b73e-a800-4f97-b70f-67a31cb9d383",
      "name": "Update Prospect",
      "credentials": {
        "supabaseApi": {
          "id": "mWip0WqnB57aANW3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "lk_clients_config",
        "filters": {
          "conditions": [
            {
              "keyName": "account_id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.account_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -752,
        320
      ],
      "id": "c1e60fd9-a69f-4e6b-9d6d-2887bbd428cb",
      "name": "Verif AI Client",
      "credentials": {
        "supabaseApi": {
          "id": "mWip0WqnB57aANW3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7bd8532a-d4c7-4155-bcf4-6cdadab53afe",
              "leftValue": "={{ $json.ai_enabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "5f0c8b39-70c0-46bd-b0ee-061e637e1394",
              "leftValue": "={{ $json.icebreaker_enabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -528,
        320
      ],
      "id": "43c1de44-9660-4956-830d-302b3cd52976",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "lk_prospects",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "connected"
            },
            {
              "keyName": "scheduled_send_at",
              "condition": "lte",
              "keyValue": "={{ $now }}"
            },
            {
              "keyName": "ai_enabled",
              "condition": "is",
              "keyValue": "true"
            },
            {
              "keyName": "processing_status",
              "condition": "neq",
              "keyValue": "processing"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1648,
        560
      ],
      "id": "91774b75-1da6-4377-a80e-4228917f3332",
      "name": "Get Prospects",
      "credentials": {
        "supabaseApi": {
          "id": "mWip0WqnB57aANW3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "lk_prospects",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processing_status",
              "fieldValue": "processing"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1424,
        560
      ],
      "id": "093e3bd2-f96b-4ffb-8f4c-089183a3bbac",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "mWip0WqnB57aANW3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api22.unipile.com:15267/api/v1/chats?account_id={{ $('Loop Over Items').item.json.account_id }}&account_type=LINKEDIN&limit=250",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "=___REDACTED_UNIPILE_KEY___"
            }
          ]
        },
        "options": {}
      },
      "id": "e5be8d69-9018-475d-9989-ec7ed9d0cd9b",
      "name": "Unipile - Chats du compte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -304,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// prospect courant (depuis la boucle)\nconst prospect   = $('Loop Over Items').first().json;\nconst linkedinId = prospect.linkedin_id;\nconst accountId  = prospect.account_id;\n\n// liste des chats renvoyée par \"Unipile - Chats du compte\"\nconst rows  = $input.all().map(i => i.json);\nconst chats = (rows.length === 1 && Array.isArray(rows[0].items)) ? rows[0].items : rows;\n\n// ce prospect a-t-il déjà un fil ?\nconst already_contacted = chats.some(c => c.attendee_provider_id === linkedinId);\n\nreturn [{ json: { account_id: accountId, linkedin_id: linkedinId, already_contacted } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        320
      ],
      "id": "386d3345-ece8-4419-a9b9-b3eb7a222e37",
      "name": "Deja un chat ?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f836b7bf-e63d-46ac-a792-d0ab1efaec00",
              "leftValue": "={{ $json.already_contacted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        320
      ],
      "id": "4eefefb9-1dc9-48fc-9e28-2b991717349f",
      "name": "déja contacté"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "lk_prospects",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "in_conversation"
            },
            {
              "fieldId": "processing_status",
              "fieldValue": "idle"
            },
            {
              "fieldId": "pending_reply"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        368,
        224
      ],
      "id": "d4b620ae-759b-4dea-a089-ad3460552fba",
      "name": "Update Prospect1",
      "credentials": {
        "supabaseApi": {
          "id": "mWip0WqnB57aANW3",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unipile - Envoyer icebreaker1": {
      "main": [
        [
          {
            "node": "Supabase - Enregistrer message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Enregistrer message1": {
      "main": [
        [
          {
            "node": "Update Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Verif AI Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Prospect": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verif AI Client": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Unipile - Chats du compte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prospects": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unipile - Chats du compte": {
      "main": [
        [
          {
            "node": "Deja un chat ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deja un chat ?": {
      "main": [
        [
          {
            "node": "déja contacté",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "déja contacté": {
      "main": [
        [
          {
            "node": "Update Prospect1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unipile - Envoyer icebreaker1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "KpARxPgPgE2a5cue",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "466a718a-7071-4157-88c5-ca023b9fa60f",
  "meta": {
    "instanceId": "14e09279a0e20e70e8b0a269c2cfc5795ea69f614e7138110af3dec7e7956b68"
  },
  "id": "HdUkHiDzT9gpTvgV",
  "tags": []
}
